<h1>Add A New Movie</h1>

<form action="/create_movie">
  <div>
    <label for = "the_title">Title:</label>
    <input id = "the_title" type="text" name="the_title">

    <label for = "the_description">Description:</label>
    <input id = "the_description" type="text" name="the_description">

    <label for = "the_year">Year:</label>
    <input id = "the_year" type="text" name="the_year">

    <label for = "the_duration">Duration:</label>
    <input id = "the_duration" type="text" name="the_duration">

    <label for = "the_image_url">Image URL:</label>
    <input id = "the_image_url" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create Movie</button>
  </div>
</form>


</body>
</html>
