<h1>Add A New Director</h1>

<form action="/create_director">
  <div>
    <label for = "the_name">Name:</label>
    <input id = "the_name" type="text" name="the_name">

    <label for = "the_bio">Bio:</label>
    <input id = "the_bio" type="text" name="the_bio">

    <label for = "the_dob">DOB:</label>
    <input id = "the_dob" type="text" name="the_dob">

    <label for = "the_image_url">Image URL:</label>
    <input id = "the_image_url" type="text" name="the_image_url">
  </div>
  <div>
    <button>Create Actor</button>
  </div>
</form>


</body>
</html>
